@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.3rem 1rem 1.3rem;
}

.toggle-menu button {
  border: none;
  background-color: white;
}
.toggle-menu button img {
  width: 1.3rem;
  height: 1.5rem;
}

.toggle-menu button:hover {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-left: 17rem;
  font-family: "DM Serif Display", serif;
}

.interaction {
  display: flex;
  gap: 0.5rem;
  justify-items: center;
}

.interaction .stats-a {
  margin-top: 0.3rem;
}

.interaction .settings {
  width: 2rem;
  height: auto;
}
.interaction .question {
  width: 2rem;
  height: auto;
}

.interaction .stats {
  height: 1.6rem;
}

.last {
  display: flex;
  gap: 2rem;
  margin-right: 0;
}

.subscribe {
  border: 1px solid black;
  display: flex;
  justify-items: center;
  height: 2rem;

  font-size: 0.8rem;
  border-radius: 1rem;
}

.subscribe a {
  text-decoration: none;
  color: black;
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.game {
  display: flex;
  margin-top: 0.7rem;
  flex-direction: column;

  gap: 0.5rem;
}

.row1 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row2 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row2 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row3 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row4 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row5 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.row6 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.box {
  display: flex;
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid rgba(170, 170, 170, 0.877);
}
